@model Fx.InformationPlatform.Site.ViewModel.TransferViewCar

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
       
            @Html.EditorFor(model => model.Title)
            @Html.EditorFor(model => model.CatagroyId)
            @Html.EditorFor(model => model.Price)
            @Html.EditorFor(model => model.AreaId)
            @Html.EditorFor(model => model.CityId)
            @Html.EditorFor(model => model.CarYear)
            @Html.EditorFor(model => model.CarMileage)
            @Html.EditorFor(model => model.Email)
            @Html.EditorFor(model => model.Mark)
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
