@model Fx.InformationPlatform.Site.ViewModel.BuyViewHouse
@{
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
    ViewBag.Title = "发布房租求购信息";
}
@Html.Partial("Partial/Flow")
<div class="grid_24">
    &nbsp;
</div>
@using (Html.BeginForm("Properties", "HouseBuy", FormMethod.Post, new { enctype = "multipart/form-data", id = "buyhouseform" }))
{
    @Html.Partial("Partial/Publish", Model)  
}
@Html.Partial("buyModal")

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Ajax/AjaxBaseRequest.js")"></script>

@*<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Ajax/AjaxHouseRequest.js")"></script>*@

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Buy/BuyValidHouse.js")"></script>

@*<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Buy/BuyHouseEvent.js")"></script>*@

<!--多文件上传解决方案-->
<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("MutiUpload/MultiFile.js")"></script>

