<div class="search_page_right_ad_wk">
    <a href="#">
        <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("adtest.jpg")" /></a>
    <a href="#">
        <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("adtest.jpg")" /></a>
    <a href="#">
        <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("adtest.jpg")" /></a>
    <a href="#">
        <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("adtest.jpg")" /></a>
    <a href="#">
        <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("adtest.jpg")" /></a>
    <a href="#">
        <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("adtest.jpg")" /></a>
    <a href="#">
        <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("adtest.jpg")" /></a>
    <a href="#">
        <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("adtest.jpg")" /></a>
    <a href="#">
        <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("adtest.jpg")" /></a>
    <a href="#">
        <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("adtest.jpg")" /></a>
</div>
