@{
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
    ViewBag.Title = "发布车辆求购信息";
}
@Html.Partial("Partial/Flow")
<div class="grid_24">
    &nbsp;
</div>
@using (Html.BeginForm("SecondHandCar", "CarBuy", FormMethod.Post, new { enctype = "multipart/form-data", id = "buycarform" }))
{
    <div id="publish" class="grid_24">
        <div class="publishborder" style="display: inline; float: left; width: 948px;">
            <div class="grid_20" style="padding: 30px 30px 30px 30px;">
                <input id="flow" type="hidden" value="1" />

                <div class="txtright alpha grid_3">
                    <p>
                        <cite class="red">*</cite><strong>标题：</strong>
                    </p>
                </div>
                <div class="omega grid_17">
                    <input type="text" id="title" value=""
                        maxlength="128" />
                </div>
                <div class="clear">
                </div>
                <br />


                <div class="txtright alpha grid_3">
                    <p>
                        <cite class="red">*</cite><strong>类别：</strong>
                    </p>
                </div>
                <div class="omega grid_17">
                    @Html.DropDownList("catagroy")
                </div>
                <div class="clear">
                </div>
                <br />


                <div class="txtright alpha grid_3">
                    <p>
                        <cite class="red">*</cite><strong>价格：</strong>
                    </p>
                </div>
                <div class="omega grid_17 input-append">
                    <input type="text" id="price" value=""
                        style="width: 180px;" maxlength="8" />
                    <span class="add-on">￡</span>
                </div>
                <div class="clear">
                </div>
                <br />




                <div class="txtright alpha grid_3">
                    <p>
                        <cite class="red">*</cite><strong>地区：</strong>
                    </p>
                </div>
                <div class="omega grid_17">
                    <select id="area">
                        <option value="0">--请选择地区--</option>
                    </select>
                    <br />
                    <select id="city" class="hide">
                        <option value="0">--请选择详细地址--</option>
                    </select>
                </div>
                <div class="clear">
                </div>
                <br />


                <div class="txtright alpha grid_3">
                    <p>
                        <cite class="red">*</cite><strong>年份：</strong>
                    </p>
                </div>
                <div class="omega grid_17">
                    @Html.DropDownList("carYear")
                </div>
                <div class="clear">
                </div>
                <br />


                <div class="txtright alpha grid_3">
                    <p>
                        <cite class="red">*</cite><strong>里程数：</strong>
                    </p>
                </div>
                <div class="omega grid_17">
                    @Html.DropDownList("carMileage")
                </div>
                <div class="clear">
                </div>
                <br />


                <div class="txtright alpha grid_3">
                    <p>
                        <cite class="red">*</cite><strong>邮箱：</strong>
                    </p>
                </div>
                <div class="omega grid_17">
                    <input type="text" id="email" value=""
                        maxlength="128" />
                </div>
                <div class="clear">
                </div>
                <br />

                <div class="txtright alpha grid_3">
                    <p>
                        <strong>备注：</strong>
                    </p>
                </div>
                <div class="omega grid_17">
                    <input type="text" id="tag" value=""
                        maxlength="128" />
                </div>
                <div class="clear">
                </div>
                <br />

                <div class="txtright alpha grid_3">
                    &nbsp;
                </div>
                <div class="omega grid_17">
                    <input type="submit" class="form-submit button button-green" value="免费注册并发布"
                        rel="popover" data-placement="left" data-original-title="您的信息填写错误" data-content="" onclick="return buycar.Submit();"
                        show="1500" hide="300">
                    <span class="p-note">发布即代表您已阅读并同意 
                        @Html.ActionLink("英淘网用户协议", "Agreement", "Pagelink")
                        和  @Html.ActionLink("英淘网公约", "Convention", "Pagelink")
                    </span>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
}
@Html.Partial("buyModal")

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Ajax/AjaxBaseRequest.js")"></script>

<!--暂时没有汽车频道需要请求的事件 所以注释-->
@*<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Ajax/AjaxCarRequest.js")"></script>*@

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Buy/BuyValidCar.js")"></script>

<!--暂时没有换物的事件 所以注释-->
@*<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Buy/BuyCarEvent.js")"></script>*@

<!--多文件上传解决方案-->
<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("MutiUpload/MultiFile.js")"></script>
