@model Fx.InformationPlatform.Site.ViewModel.BuyViewCar
@{
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
    ViewBag.Title = "发布车辆求购信息";
}
@Html.Partial("Partial/Flow")
<div class="grid_24">
    &nbsp;
</div>
@using (Html.BeginForm("SecondHandCar", "CarBuy", FormMethod.Post, new { enctype = "multipart/form-data", id = "buycarform" }))
{
    @Html.Partial("Partial/Publish", Model)   
}
@Html.Partial("buyModal")

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Ajax/AjaxBaseRequest.js")"></script>

<!--暂时没有汽车频道需要请求的事件 所以注释-->
@*<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Ajax/AjaxCarRequest.js")"></script>*@

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Buy/BuyValidCar.js")"></script>

<!--暂时没有换物的事件 所以注释-->
@*<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Buy/BuyCarEvent.js")"></script>*@

<!--多文件上传解决方案-->
<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("MutiUpload/MultiFile.js")"></script>
