<div class="grid_18 alpha">
        <!--top flash start-->
        <div class="box" id="slider">
            <div class="left_bss" id="left_btns"></div>
            <div class="right_bss" id="right_btns"></div>
            <ul>
                <li>
                    <div class="grid_11 alpha">
                        <a href="#">
                            <img class="img1" src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("lft_ad.jpg")" /></a>
                    </div>
                    <div class="grid_7 omega">
                        <a href="#">
                            <img class="img2" src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("rit_ad.jpg")" /></a>
                    </div>
                </li>
                <li>
                     <div class="grid_11 alpha">
                        <a href="#">
                            <img class="img1" src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("lft_ad.jpg")" /></a>
                    </div>
                    <div class="grid_7 omega">
                        <a href="#">
                            <img class="img2" src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("rit_ad.jpg")" /></a>
                    </div>
                </li>
                <li>
                     <div class="grid_11 alpha">
                        <a href="#">
                            <img class="img1" src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("lft_ad.jpg")" /></a>
                    </div>
                    <div class="grid_7 omega">
                        <a href="#">
                            <img class="img2" src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("rit_ad.jpg")" /></a>
                    </div>
                </li>
                <li>
                     <div class="grid_11 alpha">
                        <a href="#">
                            <img class="img1" src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("lft_ad.jpg")" /></a>
                    </div>
                    <div class="grid_7 omega">
                        <a href="#">
                            <img class="img2" src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("rit_ad.jpg")" /></a>
                    </div>
                </li>
            </ul>
        </div>
        <!--top flash end-->
    </div>