<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/960_24_col.css")" />
    <link href="@Url.Content("~/Content/css/base.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/baixing.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-1.7.1.min.js")"></script>
</head>
<body>
    @Html.Partial("_Navigation")
    <div class="container_24">
        @RenderBody()
        <div class="clear"></div>
        @Html.Partial("_Footer")
    </div>
</body>
</html>
