<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/gs/css/960_24_col.css")" />
    <link href="@Url.Content("~/baixing/css/base.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/baixing/css/baixing.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    @* @Styles.Render("~/Content/themes/base/css")", "~/Content/css")*@
   
</head>
<body>
    @Html.Partial("_Navigation")
    <div class="container_24">
        @Html.Partial("_Nav")
        @RenderBody()
        <div class="clear"></div>
    </div>
    
  @RenderSection("scripts", required: false)
</body>
</html>
