<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("favicon.ico")" />
    <link rel="stylesheet" href="@Fx.InformationPlatform.Site.AppSettings.CssDomain("960_24_col.css")" />
    <link href="@Fx.InformationPlatform.Site.AppSettings.CssDomain("base.css")" rel="stylesheet" type="text/css" />
    <link href="@Fx.InformationPlatform.Site.AppSettings.CssDomain("bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Fx.InformationPlatform.Site.AppSettings.CssDomain("baixing.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("jquery-1.8.2.min.js")"></script>
    <script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("bootstrap.js")"></script>
    <script type="text/javascript" src="../../Content/js/Debug/log4javascript1.4.3.js"></script>
    <script type="text/javascript" src="../../Content/js/Debug/log4Init.js"></script>
</head>
<body>
    @Html.Partial("_Navigation")
    <div class="container_24">
        @RenderBody()
        <div class="clear"></div>
        @Html.Partial("_Footer")
    </div>
    @* @RenderSection("scripts", required: false)*@
    <!--JS Pluggin-->
    <!--解决因IE Placeholder bug-->
    <script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Pluggin/jquery.placeholder.min.js")"></script>
    <script type="text/javascript">
        $('input[placeholder], textarea[placeholder]').placeholder();
    </script>
</body>
</html>
