@model Fx.InformationPlatform.Site.ViewModel.TransferViewGoods
@{
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
    ViewBag.Title = "发布二手转让信息";
}
@Html.Partial("Partial/Flow")
<div class="grid_24">
    &nbsp;
</div>
@using (Html.BeginForm("Fashion", "GoodsTransfer", FormMethod.Post, new { enctype = "multipart/form-data", id = "transfergoodsform" }))
{
   @Html.Partial("Partial/Publish", Model)  
}
@Html.Partial("TransferModal")

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Ajax/AjaxBaseRequest.js")"></script>

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Ajax/AjaxGoodsTransferRequest.js")"></script>

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Transfer/TransferValidGoods.js")"></script>

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Transfer/TransferGoodsEvent.js")"></script>

<!--多文件上传解决方案-->
<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("MutiUpload/MultiFile.js")"></script>





