@{
    ViewBag.Title = "【英淘网】 -免费发布信息-英国汽车,二手,房屋信息门户";
}


<div class="interval_20"></div>
<div class="grid_24">
    <div class="grid_18 alpha">
        <!--top flash start-->
        <div class="box" id="slider">
            <div class="left_bss" id="left_btns"></div>
            <div class="right_bss" id="right_btns"></div>
            <ul>
                <li>
                    <div class="grid_11 alpha">
                        <a href="#">
                            <img class="img1" src="Content/images/lft_ad.jpg" /></a>
                    </div>
                    <div class="grid_7 omega">
                        <a href="#">
                            <img class="img2" src="Content/images/rit_ad.jpg" /></a>
                    </div>
                </li>
                <li>
                    <div class="grid_11 alpha">
                        <a href="#">
                            <img class="img1" src="Content/images/lft_ad1.jpg" /></a>
                    </div>
                    <div class="grid_7 omega">
                        <a href="#">
                            <img class="img2" src="Content/images/rit_ad1.jpg" /></a>
                    </div>
                </li>
                <li>
                    <div class="grid_11 alpha">
                        <a href="#">
                            <img class="img1" src="Content/images/lft_ad.jpg" /></a>
                    </div>
                    <div class="grid_7 omega">
                        <a href="#">
                            <img class="img2" src="Content/images/rit_ad.jpg" /></a>
                    </div>
                </li>
                <li>
                    <div class="grid_11 alpha">
                        <a href="#">
                            <img class="img1" src="Content/images/lft_ad1.jpg" /></a>
                    </div>
                    <div class="grid_7 omega">
                        <a href="#">
                            <img class="img2" src="Content/images/rit_ad1.jpg" /></a>
                    </div>
                </li>
            </ul>
        </div>

        <!--top flash end-->
    </div>
    <div class="grid_6 omega" style="float: right; overflow: hidden;">
        <div class="grid_3 alpha height_30" style="background-color: #800000; color: white; font-size: 14px;">发布信息</div>
        <div class="clear"></div>
        <span class="pb_li_info_rows">
            <img src="Content/images/glyphicons_202_shopping_cart.png" class="imgs_icons" />
            <span class="word_info">物品交易&nbsp;&nbsp;
                @Html.ActionLink("转让", "Index", "Transfer", new { id = 0 }, new { target = "_blank" })
                &nbsp;&nbsp;
                @Html.ActionLink("求购", "Index", "Buy", new { id = 0 }, new { target = "_blank" })
            </span>
        </span>
        <span class="pb_li_info_rows">
            <img src="Content/images/glyphicons_028_cars.png" class="imgs_icons" />
            <span class="word_info">汽车交易&nbsp;&nbsp;
                 @Html.ActionLink("转让", "Index", "Transfer", new { id = 1 }, new { target = "_blank" })
                &nbsp;&nbsp;
                @Html.ActionLink("求购", "Index", "Buy", new { id = 1 }, new { target = "_blank" })
            </span>
        </span>
        <span class="pb_li_info_rows">
            <img src="Content/images/glyphicons_020_home.png" class="imgs_icons" />
            <span class="word_info">房屋信息&nbsp;&nbsp;
                 @Html.ActionLink("转让", "Index", "Transfer", new { id = 2 }, new { target = "_blank" })
                &nbsp;&nbsp;
                @Html.ActionLink("求购", "Index", "Buy", new { id = 2 }, new { target = "_blank" })
            </span>
        </span>
        <a href="javascript:void(0)" class="pb_li_info_rows">
            <img src="Content/images/glyphicons_194_circle_question_mark.png" class="imgs_icons" /><span class="word_info">Coming Soon</span></a>
        <a href="javascript:void(0)" class="pb_li_info_rows">
            <img src="Content/images/glyphicons_194_circle_question_mark.png" class="imgs_icons" /><span class="word_info">Coming Soon</span></a>
        <a href="javascript:void(0)" class="pb_li_info_rows">
            <img src="Content/images/glyphicons_194_circle_question_mark.png" class="imgs_icons" /><span class="word_info">Coming Soon</span></a>
        <a href="javascript:void(0)" class="pb_li_info_rows">
            <img src="Content/images/glyphicons_194_circle_question_mark.png" class="imgs_icons" /><span class="word_info">Coming Soon</span></a>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="interval_30"></div>
<div class="grid_24">
    <div class="grid_5 alpha">
        <div class="hot_tags">
            <div class="thing_deal_tops">
                <img src="Content/images/goods.png" />
            </div>
            <div class="interval_line_c"></div>
            <div class="thing_deal_hot_tag">
                <div class="tits">热门标签</div>
                <div class="tdht_cons">
                    <a href="#">数码产品</a><a href="#">居家用品</a><a href="#">衣服鞋包</a><a href="#">文化生活</a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid_1 width_cus">-</div>
    <div class="grid_6">
        <div class="topLoop" id="sliders_1" style="height: 304px; width: 230px;">
            <div class="hd"><a class="next"></a><a class="prev"></a></div>
            <div class="bd">
                <ul class="picList">
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">最新发布</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/test1.jpg" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">最新发布</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/test1.jpg" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">最新发布</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss3.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">最新发布</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss2.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">最新发布</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss5.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid_6">
        <div class="topLoop" id="sliders_2" style="height: 304px; width: 230px;">
            <div class="hd"><a class="next"></a><a class="prev"></a></div>
            <div class="bd">
                <ul class="picList">
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">热门物品</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/ad4.jpg" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">热门物品</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/test1.jpg" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">热门物品</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss3.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">热门物品</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss2.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">热门物品</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss5.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid_6 omega">
        <div class="topLoop" id="sliders_3" style="height: 304px; width: 230px;">
            <div class="hd"><a class="next"></a><a class="prev"></a></div>
            <div class="bd">
                <ul class="picList">
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">置顶推广</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss5.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">置顶推广</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/test1.jpg" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">置顶推广</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss3.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">置顶推广</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss2.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">置顶推广</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss5.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="interval_20"></div>
<div class="grid_24">
    <div class="grid_4 alpha">
        <div class="common_six_grids">
            <a href="#">
                <img src="Content/images/adddd.jpg" /></a>
        </div>
    </div>
    <div class="grid_4">
        <div class="common_six_grids">
            <a href="#">
                <img src="Content/images/adddd.jpg" /></a>
        </div>
    </div>
    <div class="grid_4">
        <div class="common_six_grids">
            <a href="#">
                <img src="Content/images/adddd.jpg" /></a>
        </div>
    </div>
    <div class="grid_4">
        <div class="common_six_grids">
            <a href="#">
                <img src="Content/images/adddd.jpg" /></a>
        </div>
    </div>
    <div class="grid_4">
        <div class="common_six_grids">
            <a href="#">
                <img src="Content/images/adddd.jpg" /></a>
        </div>
    </div>
    <div class="grid_4 omega">
        <div class="common_six_grids">
            <a href="#">
                <img src="Content/images/adddd.jpg" /></a>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="interval_30"></div>
<div class="grid_24">
    <div class="grid_5 alpha">
        <div class="hot_tags">
            <div class="thing_deal_tops">
                <img src="Content/images/car.png" />
            </div>
            <div class="interval_line_c"></div>
            <div class="thing_deal_hot_tag">
                <div class="tits">热门标签</div>
                <div class="tdht_cons">
                    <a href="#">宝马</a><a href="#">奥迪</a><a href="#">奔驰</a><a href="#">丰田</a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid_1 width_cus">-</div>
    <div class="grid_6">
        <div class="topLoop" id="sliders_4" style="height: 304px; width: 230px;">
            <div class="hd"><a class="next"></a><a class="prev"></a></div>
            <div class="bd">
                <ul class="picList">
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">最新发布</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss6.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">最新发布</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/test1.jpg" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">最新发布</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss3.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">最新发布</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss2.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">最新发布</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss5.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid_6">
        <div class="topLoop" id="sliders_5" style="height: 304px; width: 230px;">
            <div class="hd"><a class="next"></a><a class="prev"></a></div>
            <div class="bd">
                <ul class="picList">
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">热门物品</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss1.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">热门物品</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/test1.jpg" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">热门物品</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss3.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">热门物品</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss2.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">热门物品</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss5.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid_6 omega">
        <div class="topLoop" id="sliders_6" style="height: 304px; width: 230px;">
            <div class="hd"><a class="next"></a><a class="prev"></a></div>
            <div class="bd">
                <ul class="picList">
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">置顶推广</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/test1.jpg" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">置顶推广</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/test1.jpg" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">置顶推广</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss3.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">置顶推广</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss2.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">置顶推广</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss5.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="interval_20"></div>
<div class="grid_24">
    <div class="grid_4 alpha">
        <div class="common_six_grids">
            <a href="#">
                <img src="Content/images/adddd.jpg" /></a>
        </div>
    </div>
    <div class="grid_4">
        <div class="common_six_grids">
            <a href="#">
                <img src="Content/images/adddd.jpg" /></a>
        </div>
    </div>
    <div class="grid_4">
        <div class="common_six_grids">
            <a href="#">
                <img src="Content/images/adddd.jpg" /></a>
        </div>
    </div>
    <div class="grid_4">
        <div class="common_six_grids">
            <a href="#">
                <img src="Content/images/adddd.jpg" /></a>
        </div>
    </div>
    <div class="grid_4">
        <div class="common_six_grids">
            <a href="#">
                <img src="Content/images/adddd.jpg" /></a>
        </div>
    </div>
    <div class="grid_4 omega">
        <div class="common_six_grids">
            <a href="#">
                <img src="Content/images/adddd.jpg" /></a>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="interval_30"></div>
<div class="grid_24">
    <div class="grid_5 alpha">
        <div class="hot_tags">
            <div class="thing_deal_tops">
                <img src="Content/images/house.png" />
            </div>
            <div class="interval_line_c"></div>
            <div class="thing_deal_hot_tag">
                <div class="tits">热门标签</div>
                <div class="tdht_cons">
                    <a href="#">House</a><a href="#">Flat</a><a href="#">学生公寓</a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid_1 width_cus">-</div>
    <div class="grid_6">
        <div class="topLoop" id="sliders_7" style="height: 304px; width: 230px;">
            <div class="hd"><a class="next"></a><a class="prev"></a></div>
            <div class="bd">
                <ul class="picList">
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">最新发布</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss1.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">最新发布</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/test1.jpg" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">最新发布</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss3.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">最新发布</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss2.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">最新发布</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss5.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="grid_6">
        <div class="topLoop" id="sliders_8" style="height: 304px; width: 230px;">
            <div class="hd"><a class="next"></a><a class="prev"></a></div>
            <div class="bd">
                <ul class="picList">
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">热门物品</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss5.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">热门物品</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/test1.jpg" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">热门物品</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss3.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">热门物品</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss2.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">热门物品</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss5.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid_6 omega">
        <div class="topLoop" id="sliders_9" style="height: 304px; width: 230px;">
            <div class="hd"><a class="next"></a><a class="prev"></a></div>
            <div class="bd">
                <ul class="picList">
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">置顶推广</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss6.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">置顶推广</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/test1.jpg" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">置顶推广</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss3.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">置顶推广</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss2.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                    <li>
                        <div class="pic">
                            <div class="img_cons_wks_common">
                                <div class="tits_btm_coms_index">置顶推广</div>
                                <div class="interval_line_c"></div>
                                <a href="#" class="imgs_a">
                                    <img src="Content/images/tss5.png" /></a>
                                <div class="tits_btm_coms_index names_btm"><a href="#">价格、名字</a></div>
                            </div>
                        </div>
                        <div class="title"><a href="">效果图4</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="interval_20"></div>
<div class="grid_24">
    <div class="grid_4 alpha">
        <div class="common_six_grids">
            <a href="#">
                <img src="Content/images/adddd.jpg" /></a>
        </div>
    </div>
    <div class="grid_4">
        <div class="common_six_grids">
            <a href="#">
                <img src="Content/images/adddd.jpg" /></a>
        </div>
    </div>
    <div class="grid_4">
        <div class="common_six_grids">
            <a href="#">
                <img src="Content/images/adddd.jpg" /></a>
        </div>
    </div>
    <div class="grid_4">
        <div class="common_six_grids">
            <a href="#">
                <img src="Content/images/adddd.jpg" /></a>
        </div>
    </div>
    <div class="grid_4">
        <div class="common_six_grids">
            <a href="#">
                <img src="Content/images/adddd.jpg" /></a>
        </div>
    </div>
    <div class="grid_4 omega">
        <div class="common_six_grids">
            <a href="#">
                <img src="Content/images/adddd.jpg" /></a>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="interval_30"></div>


<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("jquery.SuperSlide.js")"></script>
<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("slider.js")"></script>

<script>
    $(document).ready(function () {
        Control_btn();
        $(".topLoop").slide({ mainCell: ".bd ul", effect: "topLoop", vis: 1, scroll: 1, trigger: "click" });
    });
</script>
