
@model Fx.InformationPlatform.Site.ViewModel.HomeModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "英淘网-英国华人生活信息发布平台";
}
<div class="interval_20"></div>

<!--Banner-->
<div class="grid_24">
    <div class="grid_18 alpha">
        @Html.Partial("Partial/Flash")
    </div>
    <div class="grid_6 omega" style="float: right; overflow: hidden;">
        @Html.Partial("Partial/Menu")
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>

<div class="interval_30"></div>
<!--二手-->
@Html.Partial("Partial/Goods", Model.HomeGoodsModel)
<div class="interval_20"></div>
<!--广告-->
@Html.Partial("Partial/Ad1")
<div class="interval_30"></div>
<!--汽车-->
@Html.Partial("Partial/Car", Model.HomeCarModel)
<div class="interval_20"></div>
<!--广告2-->
@Html.Partial("Partial/Ad2")
<div class="interval_30"></div>
<!--房屋-->
@Html.Partial("Partial/House", Model.HomeHouseModel)
<div class="interval_20"></div>
<!--广告3-->
@Html.Partial("Partial/Ad3")
<div class="interval_30"></div>


<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("jquery.SuperSlide.js")"></script>
<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("slider.js")"></script>

<script>
    $(document).ready(function () {
        Control_btn();
        $(".topLoop").slide({ mainCell: ".bd ul", effect: "topLoop", vis: 1, scroll: 1, trigger: "click" });
    });
</script>
