@model Fx.Entity.FxHouse.HouseBuyInfo
@{
    ViewBag.Title = Model.PublishTitle + "|  我在英淘网http://yingtao.co.uk发布了一条房屋求购信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="interval_20"></div>

<link rel="stylesheet" href="@Fx.InformationPlatform.Site.AppSettings.CssDomain("easydialog.css")" />
@Html.Partial("Partial/Madol")

<div class="grid_24">
    <div class="grid_22 alpha">
        <div class="goods_descriptions_demo" style="width: 850px;">
            <h1 class="goods_names" style="width: 850px;"><a href="#">@Model.PublishTitle</a></h1>
            <div class="designer_wks" style="width: 870px;">
                希望价格：
                 <font>
                      ￡
                    @Model.Price                   
                 </font>
            </div>
            <div class="source_wks" style="width: 850px;">
                希望房屋所在地区：@Fx.InformationPlatform.Site.Helper.GetEnumDescription((Fx.Entity.Catagroy.AreaCatagroy)Model.AreaId)
                <br />
                希望房屋所在城市：@Fx.InformationPlatform.Site.Helper.GetEnumDescription((Fx.Entity.Catagroy.CityCatagroy)Model.CityId)
                <br />
                希望房间数量：@Model.RoomNumber
                @if (Model.Bill)
                {
                    <br />
                    <span>希望包Bill</span>
                }
                <br />
                @if (Model.HasFurniture)
                {                    
                    <br />
                    <span>希望有基本家具</span>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Mark))
                {
                    <br />
                    <span>备注：</span>@Model.Mark
                }
            </div>
            <div class="goods_details_introduce" style="width: 850px;"></div>
        </div>
    </div>

    <div class="grid_2 omega">
        <span class="right_btns_demo_set">
            <font class="saler_btns"><img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("infodetail/Contact.png")" id="demoBtn1"></font>
            <font class="shares_wwkks">分享：
            @Html.Partial("_JiaThis")
		</font>
            <font><img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("infodetail/Message.png")" id="jifa_alert_fras" onclick="show_al_fra()"></font>
            <font><a href="/HouseBuyDetail/Favorite?infoId=@Model.HouseBuyInfoId">
                <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("add_off.png")" 
                onmouseover="this.src='@Fx.InformationPlatform.Site.AppSettings.ImageDomain("add_on.png")'" 
                onmouseout="this.src='@Fx.InformationPlatform.Site.AppSettings.ImageDomain("add_off.png")'">
            </a></font>
        </span>
    </div>
</div>
<div class="clear"></div>


@Html.Partial("Partial/Ad")
<input id="tip" type="hidden"  value="@TempData["Tip"]"/>
<input id="infoid" type="hidden" value="@Model.HouseBuyInfoId" />
<input id="channelCatagroy" type="hidden"  value="@((int)Fx.Entity.ChannelCatagroy.FxHouseBuy)"/>
<input id="email" type="hidden"  value="@Model.PublishUserEmail"/>


<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1353938214106494" charset="utf-8"></script>
<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("easydialog.min.js")"></script>
<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("getelepos.js")"></script>
<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("List.js")"></script>
