@model Fx.InformationPlatform.Site.ViewModel.BuyViewHouse
<div id="publish" class="grid_24">
    <div class="publishborder" style="display: inline; float: left; width: 948px;">
        <div class="grid_20" style="padding: 30px 30px 30px 30px;">
            <input id="flow" type="hidden" value="1" />

            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>标题：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <input type="text" id="title" value=""
                    maxlength="128" />
            </div>
            <div class="clear">
            </div>
            <br />


            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>类别：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                @Html.DropDownList("catagroy")
            </div>
            <div class="clear">
            </div>
            <br />


            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>价格：</strong>
                </p>
            </div>
            <div class="omega grid_17 input-prepend">
                <span class="add-on">￡</span>
                <input type="text" id="price" value=""
                    style="width: 180px;" maxlength="8" />
            </div>
            <div class="clear">
            </div>
            <br />


            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>地区：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <select id="area">
                    <option value="0">--请选择地区--</option>
                </select>
                <br />
                <select id="city" class="hide">
                    <option value="0">--请选择详细地址--</option>
                </select>
            </div>
            <div class="clear">
            </div>
            <br />


            <div class="txtright alpha grid_3">
                <p>
                    <strong>房间数：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <select id="roomnumber">
                    <option value="0">--请选择房间数量--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
            </div>
            <div class="clear">
            </div>
            <br />

            <div class="txtright alpha grid_3">
                <p>
                    <strong>包Bill：</strong>
                </p>
            </div>
            <div class=" grid_1">
                <input id="bill" type="checkbox" />
            </div>
            <div class="txtright grid_3">
                <p>
                    <strong>基本家具：</strong>
                </p>
            </div>
            <div class="omega grid_13 omega">
                <input id="furniture" type="checkbox" />
            </div>

            <div class="clear">
            </div>
            <br />

            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>邮箱：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <input type="text" id="email" value=""
                    maxlength="128" />
            </div>
            <div class="clear">
            </div>
            <br />

            <div class="txtright alpha grid_3">
                <p>
                    <strong>备注：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <input type="text" id="tag" value=""
                    maxlength="128" />
            </div>
            <div class="clear">
            </div>
            <br />

            <div style="display: none;">
                @Html.EditorFor(model => model.Title)
                @Html.EditorFor(model => model.CatagroyId)
                @Html.EditorFor(model => model.Price)
                @Html.EditorFor(model => model.AreaId)
                @Html.EditorFor(model => model.CityId)
                @Html.EditorFor(model => model.RoomNumber)
                @Html.EditorFor(model => model.Bill)
                @Html.EditorFor(model => model.HasFurniture)
                @Html.EditorFor(model => model.Email)
                @Html.EditorFor(model => model.Mark)
            </div>


            <div class="txtright alpha grid_3">
                &nbsp;
            </div>
            <div class="omega grid_17">
                <input type="submit" class="btn btn-warning" value="发布" data-loading-text="发布中..."
                    rel="popover" data-placement="left" data-original-title="您的信息填写错误" data-content="" onclick="return buyhouse.Submit();"
                    show="1500" hide="300" />
                <span class="p-note">发布即代表您已阅读并同意 
                        @Html.ActionLink("《英淘网用户协议》", "Agreement", "PageLink")
                    和  @Html.ActionLink("《英淘网公约》", "Convention", "PageLink")
                </span>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
