@model Fx.InformationPlatform.Site.ViewModel.BuyViewGoods
<div id="publish" class="grid_24">
    <div class="publishborder" style="display: inline; float: left; width: 948px;">
        <div class="grid_20" style="padding: 30px 30px 30px 30px;">
            <input id="flow" type="hidden" value="1" />
            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>标题：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <input type="text" id="title" value=""
                    maxlength="128" />
            </div>
            <div class="clear">
            </div>
            <br />


            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>类别：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                @Html.DropDownList("catagroy")
            </div>
            <div class="clear">
            </div>
            <br />


            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>价格：</strong>
                </p>
            </div>
            <div class="omega grid_17 input-prepend">
                <span class="add-on">￡</span>
                <input type="text" id="price" value=""
                    style="width: 180px;" maxlength="8" />
            </div>
            <div class="clear">
            </div>
            <br />



            <div class="txtright alpha grid_3">
                <p>
                    <strong>换物：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <input id="changegoods" type="checkbox" />
                <div class="hide" id="changegoodsdiv">
                    <br />
                    <input type="text" value="" id="changegoodstxt" placeholder="请填写想交换的物品信息"
                        maxlength="128" style="border: 1px solid rgb(226, 226, 226);" />
                </div>
            </div>
            <div class="clear">
            </div>
            <br />



            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>地区：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                 @Html.DropDownList("area")
                <br />
                <select id="city" class="hide">
                    <option value="0">--请选择详细地址--</option>
                </select>
            </div>
            <div class="clear">
            </div>
            <br />


            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>新旧程度：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <select id="goodsconditon">
                    <option value="0">--请选择新旧程度--</option>
                </select>
                <br />
                <br />
                <input type="text" id="goodsextend" value="" placeholder=""
                    maxlength="128" style="border: 1px solid rgb(226, 226, 226); display: none;" />
            </div>
            <div class="clear">
            </div>
            <br />


            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>照片：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <div class="gird_2">正面照片 <cite class="red">选填</cite></div>
                <input type="file" class="multi" accept="jpg|jpeg|png|gif|bmp" maxlength="1" minlength="1" name="facefile" id="mainface" /><br />
                <div class="gird_2">其他方位照片 <cite class="red">选填</cite></div>
                <input type="file" class="multi" accept="jpg|jpeg|png|gif|bmp" maxlength="1" minlength="1" name="otherfile" id="mainother" /><br />
                <div class="gird_2">其他方位照片2 <cite class="red">选填</cite></div>
                <input type="file" class="multi" accept="jpg|jpeg|png|gif|bmp" maxlength="1" minlength="1" name="badfile" id="mainbad"><br />
            </div>
            <div class="clear">
            </div>
            <br />

            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>邮箱：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <input type="text" id="email" value=""
                    maxlength="128" />
            </div>
            <div class="clear">
            </div>
            <br />

            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>备注：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <input type="text" id="tag" value=""
                    maxlength="128" />
            </div>
            <div class="clear">
            </div>
            <br />

            <div class="txtright alpha grid_3">
                &nbsp;
            </div>

            <div style="display: none;">
                @Html.EditorFor(model => model.Title)
                @Html.EditorFor(model => model.CatagroyId)
                @Html.EditorFor(model => model.Price)
                @Html.EditorFor(model => model.IsChangeGoods)
                @Html.EditorFor(model => model.ChangeGoodsMsg)
                @Html.EditorFor(model => model.AreaId)
                @Html.EditorFor(model => model.CityId)
                @Html.EditorFor(model => model.GoodConditionId)
                @Html.EditorFor(model => model.GoodConditonMsg)
                @Html.EditorFor(model => model.Email)
                @Html.EditorFor(model => model.Mark)
            </div>

            <div class="omega grid_17">
                <input type="submit" class="btn btn-warning" value="发布" data-loading-text="发布中..."
                    rel="popover" data-placement="left" data-original-title="您的信息填写错误" data-content="" onclick="return buygoods.Submit();"
                    show="1500" hide="300">
                <span class="p-note">发布即代表您已阅读并同意 
                        @Html.ActionLink("《英淘网用户协议》", "Agreement", "PageLink")
                    和  @Html.ActionLink("《英淘网公约》", "Convention", "PageLink")
                </span>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
