@model List<Fx.Entity.FxGoods.GoodsTransferInfo>
<div class="grid_24">
    <div class="grid_3 alpha">
        <img class="list_left_img_demo_tit" src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("goodsList/Other.png")">
    </div>
    <div class="grid_21 omega" style="text-align: left; float: right;">
        <div class="topLoop" id="sliders_1" style="width: 830px; height: 243px;">
            <div class="hd" style="width: 40px; height: 243px; left: 3px;"><a class="next" style="margin-top: 65px;"></a><a class="prev"></a></div>
            <div class="bd" style="width: 790px; position: relative; left: 40px; top: 0px; border: 0px; padding: 0px; height: 243px;">
                <ul class="picList" style="float: none; height: 255px; padding-top: 0px;">
                    @for (int i = 0; i < Model.Count; i = i + 4)
                    {
                        <li style="float: none; height: 243px;">
                            <div class="pic" style="width: 800px; height: 243px; border: 0px;">
                                <div class="list_scroll_inn_wks">
                                    @foreach (var picture in Model[i].Pictures)
                                    {
                                        if (picture.TransferPictureCatagroy == (int)Fx.Entity.PictureCatagroy.Head)
                                        {
                                        <a href="@Fx.InformationPlatform.Site.AppSettings.GoodsTransferLink(Model[i].GoodsTransferInfoId)" class="tops_aa_imgs_kk">

                                            <img src="@Fx.InformationPlatform.Site.AppSettings.ImageUploadCdnDomain(picture.ImageUrl)"/>
                                        </a>
                                            break;
                                        }
                                    }
                                    <div class="tits_btm_coms_list names_btm">
                                        <a href="@Fx.InformationPlatform.Site.AppSettings.GoodsTransferLink(Model[i].GoodsTransferInfoId)">@Model[i].PublishTitle、 @Model[i].Price ￡</a>
                                    </div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    @foreach (var picture in Model[i + 1].Pictures)
                                    {
                                        if (picture.TransferPictureCatagroy == (int)Fx.Entity.PictureCatagroy.Head)
                                        {
                                        <a href="@Fx.InformationPlatform.Site.AppSettings.GoodsTransferLink(Model[i + 1].GoodsTransferInfoId)" class="tops_aa_imgs_kk">

                                            <img src="@Fx.InformationPlatform.Site.AppSettings.ImageUploadCdnDomain(picture.ImageUrl)"/>
                                        </a>
                                            break;
                                        }
                                    }
                                    <div class="tits_btm_coms_list names_btm">
                                        <a href="@Fx.InformationPlatform.Site.AppSettings.GoodsTransferLink(Model[i + 1].GoodsTransferInfoId)">@Model[i + 1].PublishTitle、 @Model[i + 1].Price ￡</a>
                                    </div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    @foreach (var picture in Model[i + 2].Pictures)
                                    {
                                        if (picture.TransferPictureCatagroy == (int)Fx.Entity.PictureCatagroy.Head)
                                        {
                                        <a href="@Fx.InformationPlatform.Site.AppSettings.GoodsTransferLink(Model[i + 2].GoodsTransferInfoId)" class="tops_aa_imgs_kk">

                                            <img src="@Fx.InformationPlatform.Site.AppSettings.ImageUploadCdnDomain(picture.ImageUrl)"/>
                                        </a>
                                            break;
                                        }
                                    }
                                    <div class="tits_btm_coms_list names_btm">
                                        <a href="@Fx.InformationPlatform.Site.AppSettings.GoodsTransferLink(Model[i + 2].GoodsTransferInfoId)">@Model[i + 2].PublishTitle、 @Model[i + 2].Price ￡</a>
                                    </div>
                                </div>

                                <div class="list_scroll_inn_wks">
                                    @foreach (var picture in Model[i + 3].Pictures)
                                    {
                                        if (picture.TransferPictureCatagroy == (int)Fx.Entity.PictureCatagroy.Head)
                                        {
                                        <a href="@Fx.InformationPlatform.Site.AppSettings.GoodsTransferLink(Model[i + 3].GoodsTransferInfoId)" class="tops_aa_imgs_kk">

                                            <img src="@Fx.InformationPlatform.Site.AppSettings.ImageUploadCdnDomain(picture.ImageUrl)"/>
                                        </a>
                                            break;
                                        }
                                    }
                                    <div class="tits_btm_coms_list names_btm">
                                        <a href="@Fx.InformationPlatform.Site.AppSettings.GoodsTransferLink(Model[i + 3].GoodsTransferInfoId)">@Model[i + 3].PublishTitle、 @Model[i + 3].Price ￡</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
