@{
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
    ViewBag.Title = "发布二手求购信息";
}
@Html.Partial("Partial/Flow")
<div class="grid_24">
    &nbsp;
</div>
<div id="publish" class="grid_24">
    <form method="post">
    <div class="publishborder" style="display: inline; float: left; width: 948px;">
        <div class="grid_20" style="padding: 30px 30px 30px 30px;">
            <input id="flow" type="hidden" value="1" />
            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>标题：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <input type="text" id="title" value=""
                    class="form-input" size="30"  maxlength="128" style="border: 1px solid rgb(226, 226, 226);" />
            </div>
            <div class="clear">
            </div>
            <br />


            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>类别：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                @Html.DropDownList("catagroy")
            </div>
            <div class="clear">
            </div>
            <br />


            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>价格：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <input type="text" id="price" value="" placeholder="默认货币:￡,正整数"
                    class="form-input" size="30" maxlength="8" style="border: 1px solid rgb(226, 226, 226);" />
            </div>
            <div class="clear">
            </div>
            <br />




            <div class="txtright alpha grid_3">
                <p>
                    <strong>换物：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <input id="changegoods" type="checkbox" />
            </div>
            <div class="clear">
            </div>
            <br />






            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>地区：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <select id="area">
                    <option value="0">--请选择地区--</option>
                </select>
                <br />
                <select id="city" class="hide">
                    <option value="0">--请选择详细地址--</option>
                </select>
            </div>
            <div class="clear">
            </div>
            <br />


            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>新旧程度：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <select id="goodsconditon">
                    <option value="0">--请选择新旧程度--</option>
                </select>
                <br />
                <br />
                <input type="text" id="goodsextend" value="" placeholder=""
                    class="form-input" size="30" maxlength="128" style="border: 1px solid rgb(226, 226, 226); display: none;" />
            </div>
            <div class="clear">
            </div>
            <br />


            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>照片：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <div class="gird_2">正面照片 <cite class="red">选填</cite></div>
                <input type="file" class="multi" accept="jpg|jpeg|png|gif|bmp" maxlength="3" minlength="1" name="facefile" id="mainface" /><br />
                <div class="gird_2">其他方位照片 <cite class="red">选填</cite></div>
                <input type="file" class="multi" accept="jpg|jpeg|png|gif|bmp" maxlength="3" minlength="1" name="otherfile" id="mainother" /><br />
                <div class="gird_2">磨损部位照片 <cite class="red">选填</cite></div>
                <input type="file" class="multi" accept="jpg|jpeg|png|gif|bmp" maxlength="3" minlength="1" name="badfile" id="mainbad"><br />
            </div>
            <div class="clear">
            </div>
            <br />

            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>邮箱：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <input type="text" id="email" value=""
                    class="form-input" size="30" maxlength="128" style="border: 1px solid rgb(226, 226, 226);" />
            </div>
            <div class="clear">
            </div>
            <br />

            <div class="txtright alpha grid_3">
                <p>
                    <cite class="red">*</cite><strong>备注：</strong>
                </p>
            </div>
            <div class="omega grid_17">
                <input type="text" id="tag" value=""
                    class="form-input" size="30" maxlength="128" style="border: 1px solid rgb(226, 226, 226);" />
            </div>
            <div class="clear">
            </div>
            <br />

            <div class="txtright alpha grid_3">
                &nbsp;
            </div>
            <div class="omega grid_17">
                <input type="submit" class="form-submit button button-green" value="免费注册并发布"
                    rel="popover" data-placement="left" data-original-title="您的信息填写错误" data-content="" onclick="return buygoods.Submit();"
                    show="1500" hide="300">
                <span class="p-note">发布即代表您已阅读并同意 
                        @Html.ActionLink("英淘网用户协议", "Agreement", "Pagelink")
                    和  @Html.ActionLink("英淘网公约", "Convention", "Pagelink")
                </span>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
    </form>
</div>
@Html.Partial("buyModal")

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Ajax/AjaxBaseRequest.js")"></script>

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Ajax/AjaxGoodsRequest.js")"></script>

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Buy/BuyValidGoods.js")"></script>

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Buy/BuyGoodsEvent.js")"></script>

<!--多文件上传解决方案-->
<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("MutiUpload/MultiFile.js")"></script>