@model Fx.InformationPlatform.Site.ViewModel.BuyViewGoods
@{
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
    ViewBag.Title = "发布二手求购信息";
}
@Html.Partial("Partial/Flow")
<div class="grid_24">
    &nbsp;
</div>

@using (Html.BeginForm("Fashion", "GoodsBuy", FormMethod.Post, new { enctype = "multipart/form-data", id = "buygoodsform" }))
{
    @Html.Partial("Partial/Publish", Model)   
}
@Html.Partial("buyModal")

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Ajax/AjaxBaseRequest.js")"></script>

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Ajax/AjaxGoodsRequest.js")"></script>

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Buy/BuyValidGoods.js")"></script>

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Buy/BuyGoodsEvent.js")"></script>

<!--多文件上传解决方案-->
<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("MutiUpload/MultiFile.js")"></script>
