@model Fx.InformationPlatform.Site.ViewModel.HouseListModel
@{
    ViewBag.Title = "房屋交易";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="interval_20"></div>

<!--Banner-->
<div class="grid_24">
    @Html.Partial("Partial/Flash")
    @Html.Partial("Partial/Menu")
</div>
<div class="clear"></div>


<div class="interval_30"></div>
@Html.Partial("Partial/CommercialProperties",Model.CommercialProperties)
<div class="interval_20"></div>
@Html.Partial("Partial/Ad1")
<div class="interval_20"></div>
@Html.Partial("Partial/Properties",Model.Properties)
<div class="interval_20"></div>
@Html.Partial("Partial/Ad2")
<div class="interval_20"></div>



<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("jquery.SuperSlide.js")"></script>
<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("slider.js")"></script>
<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("List.js")"></script>


<script>
    $(document).ready(function () {
        Control_btn();
        List_Nav_R();
        $(".topLoop").slide({ mainCell: ".bd ul", effect: "topLoop", vis: 1, scroll: 1, trigger: "click" });
        document.getElementById('navindex').value = 2;
    });
</script>