@model Fx.Entity.FxGoods.CarPublishInfo

@{
    ViewBag.Title = "Get";
}

<h2>Get</h2>

<fieldset>
    <legend>CarPublishInfo</legend>

    <div class="display-label">PublishUserEmail</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PublishUserEmail)
    </div>

    <div class="display-label">PublishTitle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PublishTitle)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">Mark</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mark)
    </div>

    <div class="display-label">CreateTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedTime)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CarPublishInfoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
