<div class="grid_3 alpha height_30" style="background-color: #800000; color: white; font-size: 14px;">发布信息</div>
<div class="clear"></div>
<span class="pb_li_info_rows">
    <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("glyphicons_202_shopping_cart.png")" class="imgs_icons" />
    <span class="word_info">物品交易&nbsp;&nbsp;
                @Html.ActionLink("转让", "Index", "Transfer", new { id = 0 }, new { target = "_blank" })
        &nbsp;&nbsp;
                @Html.ActionLink("求购", "Index", "Buy", new { id = 0 }, new { target = "_blank" })
    </span>
</span>
<span class="pb_li_info_rows">
    <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("glyphicons_028_cars.png")" class="imgs_icons" />
    <span class="word_info">汽车交易&nbsp;&nbsp;
                 @Html.ActionLink("转让", "Index", "Transfer", new { id = 1 }, new { target = "_blank" })
        &nbsp;&nbsp;
                @Html.ActionLink("求购", "Index", "Buy", new { id = 1 }, new { target = "_blank" })
    </span>
</span>
<span class="pb_li_info_rows">
    <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("glyphicons_020_home.png")" class="imgs_icons" />
    <span class="word_info">房屋信息&nbsp;&nbsp;
                 @Html.ActionLink("转让", "Index", "Transfer", new { id = 2 }, new { target = "_blank" })
        &nbsp;&nbsp;
                @Html.ActionLink("求购", "Index", "Buy", new { id = 2 }, new { target = "_blank" })
    </span>
</span>
<a href="javascript:void(0)" class="pb_li_info_rows">
    <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("glyphicons_194_circle_question_mark.png")" class="imgs_icons" /><span class="word_info">Coming Soon</span></a>
<a href="javascript:void(0)" class="pb_li_info_rows">
    <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("glyphicons_194_circle_question_mark.png")" class="imgs_icons" /><span class="word_info">Coming Soon</span></a>
<a href="javascript:void(0)" class="pb_li_info_rows">
    <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("glyphicons_194_circle_question_mark.png")" class="imgs_icons" /><span class="word_info">Coming Soon</span></a>
<a href="javascript:void(0)" class="pb_li_info_rows">
    <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("glyphicons_194_circle_question_mark.png")" class="imgs_icons" /><span class="word_info">Coming Soon</span></a>