<div class="grid_3 alpha height_30" style="font-size: 16px;">| 发布信息 |</div>
<div class="clear"></div>
<style type="text/css">
    .pb_li_info_rows {
        width: 210px;
        height: 28px;
        line-height: 28px;
        border-bottom: 1px #ebebeb solid;
        background-color: #f5f5f5;
        display: block;
        padding-left: 20px;
        margin-top: 5px;
        cursor: pointer;
    }
    
     .pb_li_info_rows:hover {
        background-color: #dbdbdb;
    }

    .pb_li_info_rows .imgs_icons {
        display: block;
        height: 18px;
        width: 22px;
        overflow: hidden;
        float: left;
        margin-top: 5px;
    }

    .pb_li_info_rows .word_info {
        /*float: left;*/
        display: block;
        height: 28px;
        line-height: 28px;
        width: 180px;
        text-align: left;
        font-size: 12px;
        font-family: 微软雅黑;
        color: #535353;
        overflow: hidden;
        margin-left: 25px;
    }

    .pb_li_info_rows .datas_w {
        display: block;
        height: 28px;
        line-height: 28px;
        width: 40px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        color: #535353;
        font-size: 13px;
        float: left;
        margin-left: 5px;
        overflow: hidden;
    }
</style>

<span class="pb_li_info_rows">
    <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("glyphicons_202_shopping_cart.png")" class="imgs_icons" />
    <span class="word_info"><span>物品交易</span>
        <span style="margin-left: 30px; margin-right: 10px;">
            @Html.ActionLink("转让", "Index", "Transfer", new { id = 0 }, new { target = "_blank", @class = "btn btn-mini" })
        </span>
        <span>
            @Html.ActionLink("求购", "Index", "Buy", new { id = 0 }, new { target = "_blank", @class = "btn btn-mini" })
        </span>
    </span>
    <span class="clear"></span>
</span>
<span class="pb_li_info_rows">
    <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("glyphicons_028_cars.png")" class="imgs_icons" />
    <span class="word_info">
        <span>汽车交易</span>
        <span style="margin-left: 30px; margin-right: 10px;">
            @Html.ActionLink("转让", "Index", "Transfer", new { id = 1 }, new { target = "_blank", @class = "btn btn-mini" })
        </span>
        <span>
            @Html.ActionLink("求购", "Index", "Buy", new { id = 1 }, new { target = "_blank", @class = "btn btn-mini" })
        </span>
    </span>
</span>
<span class="pb_li_info_rows">
    <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("glyphicons_020_home.png")" class="imgs_icons" />
    <span class="word_info">
        <span>房屋信息</span>
        <span style="margin-left: 30px; margin-right: 10px;">
            @Html.ActionLink("转让", "Index", "Transfer", new { id = 2 }, new { target = "_blank", @class = "btn btn-mini" })
        </span>
        <span>
            @Html.ActionLink("求购", "Index", "Buy", new { id = 2 }, new { target = "_blank", @class = "btn btn-mini" })
        </span>
    </span>
</span>
<a href="javascript:void(0)" class="pb_li_info_rows">
    <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("glyphicons_194_circle_question_mark.png")" class="imgs_icons" /><span class="word_info">Coming Soon</span></a>
<a href="javascript:void(0)" class="pb_li_info_rows">
    <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("glyphicons_194_circle_question_mark.png")" class="imgs_icons" /><span class="word_info">Coming Soon</span></a>
<a href="javascript:void(0)" class="pb_li_info_rows">
    <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("glyphicons_194_circle_question_mark.png")" class="imgs_icons" /><span class="word_info">Coming Soon</span></a>
<a href="javascript:void(0)" class="pb_li_info_rows">
    <img src="@Fx.InformationPlatform.Site.AppSettings.ImageDomain("glyphicons_194_circle_question_mark.png")" class="imgs_icons" /><span class="word_info">Coming Soon</span></a>