@model Fx.Entity.Account.RegisterUser
@{
    ViewBag.Title = "登录 - 英淘网";
}
@using (Html.BeginForm("Login", "Account"))
{
    @Html.ValidationSummary(true)
    <div class="grid_24">
        <p class="typo-h1">
            你好，欢迎加入英淘网
        </p>
        <div class="grid_24">
            <style>
                .p-line {
                    padding: 10px 0;
                }

                .p-label {
                    display: inline-block;
                    width: 120px;
                    text-align: right;
                    font-weight: 700;
                }

                .input-small {
                    height: 22px;
                    line-height: 22px;
                    padding: 0 5px;
                }
            </style>
            <div class="grid_18 alpha">
                <div class="grid_2 alpha p-line p-label">
                    <label>账号</label>
                </div>
                <div class="grid_16 omega p-line">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "input-small" })
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
                <div class="clear">
                </div>
                <div class="grid_2 alpha p-line p-label">
                    <label>密码</label>
                </div>
                <div class="grid_16 omega p-line">
                    @Html.TextBoxFor(model => model.Password, new { @class = "input-small" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="clear">
                </div>

                <div class="p-line p-line-submit">
                    <label class="p-label"></label>
                    <input class="btn_green button button-green" type="submit" value="登录">
                    <span style="color: #f00;">@ViewBag.Error</span>
                </div>
            </div>
            <div class="grid_6 omega">
                @Html.Partial("Partial/Join")
            </div>
        </div>

    </div>
}
