
@model Fx.Entity.Account.RegisterUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "登录 - 英淘网";
}
@using (Html.BeginForm("Login", "Account"))
{
    @Html.ValidationSummary(true)
    <div class="grid_24">
        <p class="typo-h1">
            你好，欢迎加入英淘网
        </p>
        <div class="grid_24" style="height: 300px;">
            <div class="grid_18 alpha">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    @Html.TextBoxFor(model => model.Email, new { placeholder = "abc@abc.com" })
                    @Html.ValidationMessageFor(model => model.Email)                   
                </div>
                <div class="clear">
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    @Html.TextBoxFor(model => model.Password, new { type = "password" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="clear">
                </div>
                <div>
                    <label></label>
                    <div class="grid_2 alpha">&nbsp;</div>
                    <div class="omega">
                        <input class="btn btn-danger" type="submit" value="登录">
                        <span style="color: #f00;">@ViewBag.Error</span>
                    </div>
                </div>
            </div>
            <div class="grid_6 omega">
                @Html.Partial("Partial/Register")
            </div>
        </div>

    </div>
}
