@model Fx.Entity.MemberShip.Membership
@{
    ViewBag.Title = "我的英淘网";
}
@Html.Partial("Partial/Tab")
<div class="grid_24">
    <form action="Account/Profile" method="POST">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div class="grid_24 ">
            <div class="p-line">
                <label class="p-label">
                    <cite class="red">*</cite>用户名：</label>
                @Html.TextBoxFor(model => model.Users.UserName, new { disabled = "disabled", @class = "form-input form-input-150 required", style = "border: 1px solid rgb(226, 226, 226);" })
            </div>

            <div class="p-line">
                <label class="p-label">
                    <cite class="red">*</cite>手机号码：<strong>@Html.LabelFor(model => model.MobilePIN)</strong>
            </div>

            <div class="p-line" id="form_b1614_pass">
                <label class="p-label">
                    密码：</label><a href="Account/ChangePassword/">修改</a>
            </div>

            <div class="p-line">
                <label class="p-label">
                    QQ号码：</label>
                @Html.TextBoxFor(model => model.OtherInformations.QQ, new { @class = "form-input form-input-150" })
                @Html.ValidationMessageFor(model => model.OtherInformations.QQ)
            </div>

            <div class="p-line">
                @if (Model.OtherInformations.Sex == Fx.Entity.MemberShip.SexCatalog.Male)
                    {
                    <label class="p-label">
                        性别：</label><label class="radio">
                            @Html.RadioButtonFor(model => model.OtherInformations.Sex, 0, new { @name = "sexGroup", @checked = true });                     
                        男</label>
                    <label class="radio">
                        @Html.RadioButtonFor(model => model.OtherInformations.Sex, 1, new { @name = "sexGroup" });              
                    女</label>
                    }
                    else
                    {
                    <label class="p-label">
                        性别：</label><label class="radio">
                            @Html.RadioButtonFor(model => model.OtherInformations.Sex, 0, new { @name = "sexGroup" });                     
                        男</label>
                    <label class="radio">
                        @Html.RadioButtonFor(model => model.OtherInformations.Sex, 1, new { @name = "sexGroup", @checked = true });              
                    女</label>
                    }
            </div>

            <div class="p-line">
                <label class="p-label">
                    所在地：</label>
            </div>

            <div class="p-line">
                <label class="p-label">
                    电子邮箱：</label><input type="text" name="email" value="chen27468@163.com" autocomplete="off"
                        placeholder="" belong="电子邮箱" class="form-input form-input-150">
            </div>

            <div class="p-submit buttons">
                <input type="submit" class="button button-green button-medium" value="确认保存">
                <span class="error-message red">
                    @ViewBag.ErrorMsg
                </span>
            </div>
        </div>
    }
    </form>
</div>





<input id="tabShow" type="hidden" value="4" />







