@model Fx.Entity.Account.RegisterUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "英淘注册";
}
@using (Html.BeginForm("Register", "Account"))
{
    @Html.ValidationSummary(true)
    <div class="grid_24">
        <p class="typo-h1">
            你好，欢迎加入英淘网
        </p>
        <div class="grid_24">
            <div class="grid_18 alpha">
                <div class="grid_2 alpha">
                    邮箱
                </div>
                <div class="grid_16 omega">
                    @Html.TextBoxFor(model => model.Email, new { placeholder = "邮箱即为用户帐号" })
                    @Html.ValidationMessageFor(model => model.Email)   <span style="color: #f00">*必填</span>
                </div>
                <div class="clear">
                </div>


                <div class="grid_2 alpha">
                    密码
                </div>
                <div class="grid_16 omega">
                    @Html.TextBoxFor(model => model.Password, new { placeholder = "请输入密码" })
                    @Html.ValidationMessageFor(model => model.Password)   <span style="color: #f00">*必填</span>
                </div>
                <div class="clear"></div>



                <div class="grid_2 alpha">
                    昵称
                </div>
                <div class="grid_16 omega">
                    @Html.TextBoxFor(model => model.NickName)
                    @Html.ValidationMessageFor(model => model.NickName)  <span style="color: #f00">*必填</span>
                </div>
                <div class="clear">
                </div>


                <div class="grid_2 alpha">
                    QQ
                </div>
                <div class="grid_16 omega">
                    @Html.TextBoxFor(model => model.QQ)
                    @Html.ValidationMessageFor(model => model.QQ)
                </div>
                <div class="clear">
                </div>


                <div class="grid_2 alpha">
                    手机
                </div>
                <div class="grid_16 omega">
                    @Html.TextBoxFor(model => model.Mobile)
                    @Html.ValidationMessageFor(model => model.Mobile)
                </div>
                <div class="clear">
                </div>


                <div class="grid_2 alpha">
                    密保问题
                </div>
                <div class="grid_16 omega">
                    <select name="PasswordQuestion" id="PasswordQuestion">
                        <option>请选择密保查询问题</option>
                        <option value="我手机号码的后6位？">我手机号码的后6位？</option>
                        <option value="我母亲的生日？">我母亲的生日？</option>
                        <option value="我父亲的生日？">我父亲的生日？</option>
                        <option value="我最好朋友的生日？">我最好朋友的生日？</option>
                        <option value="我儿时居住地的地址？">我儿时居住地的地址？</option>
                        <option value="我小学校名全称？">我小学校名全称？</option>
                        <option value="我中学校名全称？">我中学校名全称？</option>
                        <option value="离我家最近的医院全称？">离我家最近的医院全称？</option>
                        <option value="离我家最近的公园全称？">离我家最近的公园全称？</option>
                        <option value="我的座右铭是？">我的座右铭是？</option>
                        <option value="我最喜爱的电影？">我最喜爱的电影？</option>
                        <option value="我最喜爱的歌曲？">我最喜爱的歌曲？</option>
                        <option value="我最喜爱的食物？">我最喜爱的食物？</option>
                        <option value="我最大的爱好？">我最大的爱好？</option>
                        <option value="我最喜欢的小说？">我最喜欢的小说？</option>
                        <option value="我最喜欢的运动队？">我最喜欢的运动队？</option>
                        <option value="其他">其他</option>
                    </select>
                    @ViewBag.PasswordQuestion
                    <span style="color: #f00">*必填</span>
                </div>
                <div class="clear">
                </div>


                
                <div class="grid_2 alpha">
                    密保答案
                </div>
                <div class="grid_16 omega">
                    @Html.TextBoxFor(model => model.PasswordAnswer)
                    @Html.ValidationMessageFor(model => model.PasswordAnswer)
                    <span style="color: #f00">*必填</span>
                </div>
                <div class="clear">
                </div>





                <div class="grid_2 alpha">
                    验证码
                </div>
                <div class="grid_6">
                    @Html.TextBoxFor(model => model.VerificationCode)
                </div>

                <div class="grid_10 omega">
                    <img alt="验证码" id="validimg" src="@Url.Action("CreateImageCode", "Captcha")"  onclick="reloadcode()" />
                    @Html.ValidationMessageFor(model => model.VerificationCode)
                </div>
                <div class="clear">
                </div>


                <div class="p-line">
                    <label class="p-label"></label>
                    <small>注册即代表您已阅读并同意<a href="/PageLink/Agreement/" target="_blank">《英淘网用户协议》</a></small>
                </div>

                <div class="grid_5 alpha">
                    &nbsp;
                </div>
                <div class="grid_6">
                    <button class="btn btn-warning">免费注册</button>
                    <span style="color: #f00;">@ViewBag.Error</span>
                </div>
                <div class="grid_7">
                    &nbsp;
                </div>
                <div class="clear"></div>
            </div>
            <div class="grid_6 omega">
                @Html.Partial("Partial/Join")
            </div>
        </div>
    </div>
    <div class="interval_20"></div>
    
    
    <script type="text/javascript">
        function reloadcode() {
            var verify = document.getElementById('validimg');
            verify.setAttribute('src', '@Url.Action("CreateImageCode", "Captcha")');
        }
    </script>
}