@model Fx.InformationPlatform.Site.ViewModel.GoodsTransferSearchModel
@{
    ViewBag.Title = "二手转让信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="interval_20"></div>
<div class="grid_24">
    @Html.Partial("Partial/GoodsTransfer/Search", Model)
    <div class="interval_20"></div>


    <div class="grid_20 alpha">
        <div class="searchs-results_list">
            <div class="tops_tit_s_r">
                @Html.ActionLink("求购", "GoodsBuySearch", new
                    {
                        goodsTransferSearchKey = "",
                        page = 1,
                        IsChangeByGoods = Model.IsChangeByGoods,
                        IsChangeByPrice = Model.IsChangeByPrice,
                        area = Model.AreaId,
                        city = Model.CityId,
                        clc=0,
                    })
            </div>
            <div class="srl_cons">
                @Html.Partial("Partial/GoodsTransfer/Ad")
                @Html.Partial("Partial/GoodsTransfer/TopGoods", Model.TopGoods)
                @Html.Partial("Partial/GoodsTransfer/MainGoods", Model.MainGoods)
            </div>
            <div class="interval_30"></div>
            <div class="pages_index_fenye_common_wks">
                <div class="inners_paging_wks">
                    @Html.Partial("Partial/GoodsTransfer/Link", Model)
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid_4 omega" style="float: right;">
        @Html.Partial("Partial/GoodsTransfer/RightGoods")
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="interval_30"></div>
