@model Fx.InformationPlatform.Site.ViewModel.HouseBuySearchModel
@{
    ViewBag.Title = "房屋求购信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="interval_20"></div>
<div class="grid_24">
    @Html.Partial("Partial/HouseBuy/Search",Model)
    <div class="interval_20"></div>


    <div class="grid_20 alpha">
        <div class="searchs-results_list">
            <div class="tops_tit_s_r">
                @Html.ActionLink("转让", "HouseTransferSearch", new
                    {
                        houseTransferSearchKey = "",
                        page = 1,
                        area = Model.AreaId,
                        city = Model.CityId,
                        clc=0
                    })
            </div>
            <div class="srl_cons">
                @Html.Partial("Partial/HouseBuy/Ad")
                @Html.Partial("Partial/HouseBuy/TopHouse", Model.TopHouse)
                @Html.Partial("Partial/HouseBuy/MainHouse", Model.MainHouse)
            </div>
            <div class="interval_30"></div>
            <div class="pages_index_fenye_common_wks">
                <div class="inners_paging_wks">
                    @Html.Partial("Partial/HouseBuy/Link", Model)
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid_4 omega" style="float: right;">
        @Html.Partial("Partial/HouseBuy/RightHouse")
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="interval_30"></div>
