@model Fx.InformationPlatform.Site.ViewModel.TransferViewHouse
@{
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
    ViewBag.Title = "发布房租转让信息";
}
@Html.Partial("Partial/Flow")
<div class="grid_24">
    &nbsp;
</div>
@using (Html.BeginForm("CommercialProperties", "HouseTransfer", FormMethod.Post, new { enctype = "multipart/form-data", id = "transferhouseform" }))
{
    <div id="publish" class="grid_24">
        <div class="publishborder" style="display: inline; float: left; width: 948px;">
            <div class="grid_20" style="padding: 30px 30px 30px 30px;">
                <input id="flow" type="hidden" value="1" />

                <div class="txtright alpha grid_3">
                    <p>
                        <cite class="red">*</cite><strong>标题：</strong>
                    </p>
                </div>
                <div class="omega grid_17">
                    <input type="text" id="title" value=""
                        maxlength="128" />
                </div>
                <div class="clear">
                </div>
                <br />


                <div class="txtright alpha grid_3">
                    <p>
                        <cite class="red">*</cite><strong>类别：</strong>
                    </p>
                </div>
                <div class="omega grid_17">
                    @Html.DropDownList("catagroy")
                </div>
                <div class="clear">
                </div>
                <br />


                <div class="txtright alpha grid_3">
                    <p>
                        <cite class="red">*</cite><strong>价格：</strong>
                    </p>
                </div>
                <div class="omega grid_17 input-append">
                    <input type="text" id="price" value=""
                        style="width: 180px;" maxlength="8" />
                    <span class="add-on">￡</span>
                </div>
                <div class="clear">
                </div>
                <br />


                <div class="txtright alpha grid_3">
                    <p>
                        <cite class="red">*</cite><strong>地区：</strong>
                    </p>
                </div>
                <div class="omega grid_17">
                    <select id="area">
                        <option value="0">--请选择地区--</option>
                    </select>
                    <br />
                    <select id="city" class="hide">
                        <option value="0">--请选择详细地址--</option>
                    </select>
                </div>
                <div class="clear">
                </div>
                <br />



                <div class="txtright alpha grid_3">
                    <p>
                        <cite class="red">*</cite><strong>邮编：</strong>
                    </p>
                </div>
                <div class="omega grid_17">
                    <input type="text" id="postcode" value="" placeholder=""
                        maxlength="128" />
                </div>
                <div class="clear">
                </div>
                <br />


                <div class="txtright alpha grid_3">
                    <p>
                        <cite class="red">*</cite><strong>详细地址：</strong>
                    </p>
                </div>
                <div class="omega grid_17">
                    <input type="text" id="roadname" value="" placeholder="请输入路名"
                        maxlength="128" />
                    <br />
                </div>
                <div class="clear">
                </div>
                <br />


                <div class="txtright alpha grid_3">
                    <p>
                        <strong>房间数：</strong>
                    </p>
                </div>
                <div class="omega grid_17">
                    <select id="roomnumber">
                        <option value="0">--请选择房间数量--</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                </div>
                <div class="clear">
                </div>
                <br />

                <div class="txtright alpha grid_3">
                    <p>
                        <strong>包Bill：</strong>
                    </p>
                </div>
                <div class=" grid_1">
                    <input id="bill" type="checkbox" />
                </div>
                <div class="txtright grid_3">
                    <p>
                        <strong>基本家具：</strong>
                    </p>
                </div>
                <div class="omega grid_13 omega">
                    <input id="furniture" type="checkbox" />
                </div>

                <div class="clear">
                </div>
                <br />


                <div style="display: none;">
                    @Html.EditorFor(model => model.Title)
                    @Html.EditorFor(model => model.CatagroyId)
                    @Html.EditorFor(model => model.Price)
                    @Html.EditorFor(model => model.AreaId)
                    @Html.EditorFor(model => model.CityId)
                    @Html.EditorFor(model => model.PostCode)
                    @Html.EditorFor(model => model.RoadName)
                    @Html.EditorFor(model => model.RoomNumber)
                    @Html.EditorFor(model => model.Bill)
                    @Html.EditorFor(model => model.HasFurniture)
                    @Html.EditorFor(model => model.Email)
                    @Html.EditorFor(model => model.Mark)
                </div>



                <div class="txtright alpha grid_3">
                    <p>
                        <cite class="red">*</cite><strong>照片：</strong>
                    </p>
                </div>
                <div class="omega grid_17">
                    <div class="gird_2">正面照片 <cite class="red">*至少1张</cite></div>
                    <input type="file" class="multi" accept="jpg|jpeg|png|gif|bmp" maxlength="1" minlength="2" name="facefile" id="mainface" /><br />
                    <div class="gird_2">其他方位 <cite class="red">*至少1张</cite></div>
                    <input type="file" class="multi" accept="jpg|jpeg|png|gif|bmp" maxlength="3" minlength="2" name="otherfile" id="mainother" /><br />
                    <div class="gird_2">磨损部位照片 <cite class="red">选填</cite></div>
                    <input type="file" class="multi" accept="jpg|jpeg|png|gif|bmp" maxlength="1" minlength="1" name="badfile" id="mainbad"><br />
                </div>
                <div class="clear">
                </div>
                <br />

                <div class="txtright alpha grid_3">
                    <p>
                        <cite class="red">*</cite><strong>邮箱：</strong>
                    </p>
                </div>
                <div class="omega grid_17">
                    <input type="text" id="email" value=""
                        maxlength="128" />
                </div>
                <div class="clear">
                </div>
                <br />

                <div class="txtright alpha grid_3">
                    <p>
                        <strong>备注：</strong>
                    </p>
                </div>
                <div class="omega grid_17">
                    <input type="text" id="tag" value=""
                        maxlength="128" />
                </div>
                <div class="clear">
                </div>
                <br />

                <div class="txtright alpha grid_3">
                    &nbsp;
                </div>
                <div class="omega grid_17">
                    <input type="submit" class="form-submit button button-green" value="免费注册并发布"
                        rel="popover" data-placement="left" data-original-title="您的信息填写错误" data-content="" onclick="return transferhouse.Submit();"
                        show="1500" hide="300">
                    <span class="p-note">发布即代表您已阅读并同意 
                        @Html.ActionLink("英淘网用户协议", "Agreement", "Pagelink")
                        和  @Html.ActionLink("英淘网公约", "Convention", "Pagelink")
                    </span>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
}
@Html.Partial("TransferModal")

<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Ajax/AjaxBaseRequest.js")"></script>

@*<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Ajax/AjaxHouseRequest.js")"></script>
*@
<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Transfer/TransferValidHouse.js")"></script>

@*<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("Transfer/TransferHouseEvent.js")"></script>
*@
<!--多文件上传解决方案-->
<script type="text/javascript" src="@Fx.InformationPlatform.Site.AppSettings.JavaScriptDomain("MutiUpload/MultiFile.js")"></script>






