@model Fx.InformationPlatform.Site.ViewModel.TransferViewHouse


            @Html.EditorFor(model => model.Title)
            @Html.EditorFor(model => model.CatagroyId)
            @Html.EditorFor(model => model.Price)
            @Html.EditorFor(model => model.AreaId)
            @Html.EditorFor(model => model.CityId)
            @Html.EditorFor(model => model.PostCode)
            @Html.EditorFor(model => model.RoadName)
            @Html.EditorFor(model => model.RoomNumber)
            @Html.EditorFor(model => model.Bill)
            @Html.EditorFor(model => model.HasFurniture)
            @Html.EditorFor(model => model.Email)
            @Html.EditorFor(model => model.Mark)
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
