@model Fx.InformationPlatform.Site.ViewModel.CarTransferSearchModel
@if (Model.CurrentIndex == 1)
{
    @Html.ActionLink("上一页", Model.Action, new { page = 1, carTransferSearchKey = Model.Key }, new { @class = "pre-btn" })
}
else
{
    @Html.ActionLink("上一页", Model.Action, new { page = Model.CurrentIndex - 1, carTransferSearchKey = Model.Key }, new { @class = "pre-btn" })
}
@for (int i = Model.StartIndex; i <= Model.EndIndex; i++)
{
    if (i == Model.CurrentIndex)
    {
    <a href="#" class="currents-pages">@Model.CurrentIndex</a>
    }
    else
    {
    @Html.ActionLink(i.ToString(), Model.Action, new { page = i, carTransferSearchKey = Model.Key })
    }
}
@Html.ActionLink("下一页", Model.Action, new { page = Model.CurrentIndex + 1, carTransferSearchKey = Model.Key }, new { @class = "next-btn" })
