@model Fx.InformationPlatform.Site.ViewModel.CarTransferSearchModel
@using (Html.BeginForm("CarTransferSearch", "Search", FormMethod.Post))
{
    <div class="interval_20"></div>
    <div class="search_page_condition">
        <div class="tops_search_btns">
            <div class="lefts-shs">
                <input type="text" class="search-query input-xlarge" id="key" name="key" placeholder="Search">
                <button class="btn btn-warning" id="carTransferSearchBtn">查找</button>
            </div>
        </div>
        <div class="s_p_condition_common_wks">
            <div class="left_condition_tit">分类：</div>
            <div class="left_condition_cons" id="changelist">
                @if (Model.Clc == 0)
                {
                    <span class="current_conditions">
                        @Html.ActionLink("全部", Model.Action, new
                            {
                                page = 1,
                                key = Model.Key,
                                area = Model.AreaId,
                                city = Model.CityId,
                                clc = 0
                            })
                    </span>
                }
                else
                {
                    <span>
                        @Html.ActionLink("全部", Model.Action, new
                            {
                                page = 1,
                                key = Model.Key,
                                area = Model.AreaId,
                                city = Model.CityId,
                                clc = 0
                            })
                    </span>
                }
                @foreach (var channel in Model.ClcDatas)
                {
                    if (Model.Clc == channel.ChannelListDetailId)
                    {
                    <span class="current_conditions">
                        @Html.ActionLink(channel.ChannelListDetailName, Model.Action, new
                           {
                               page = 1,
                               key = Model.Key,
                               area = Model.AreaId,
                               city = Model.CityId,
                               clc = channel.ChannelListDetailId
                           })
                    </span>
                    }
                    else
                    {
                    <span>
                        @Html.ActionLink(channel.ChannelListDetailName, Model.Action, new
                           {
                               page = 1,
                               key = Model.Key,
                               area = Model.AreaId,
                               city = Model.CityId,
                               clc = channel.ChannelListDetailId
                           })
                    </span>
                    }
                }
                <span></span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="s_p_condition_common_wks">
            <div class="left_condition_tit">区域：</div>
            <div class="left_condition_cons" id="arealist">
                @if (Model.AreaId > 0)
                {
                    <span>
                        @Html.ActionLink("全部", Model.Action, new
                            {
                                page = 1,
                                key = Model.Key,
                                area = 0,
                                city = 0,
                                clc = Model.Clc
                            })
                    </span>
                }
                else
                {
                    <span class="current_conditions">
                        @Html.ActionLink("全部", Model.Action, new
                            {
                                page = 1,
                                key = Model.Key,
                                area = 0,
                                city = 0,
                                clc = Model.Clc
                            })
                    </span>
                }
                @foreach (var area in Model.Areas)
                {
                    if (area.AreaId == Model.AreaId)
                    {
                    <span class="current_conditions">
                        @Html.ActionLink(area.AreaName, Model.Action, new
                            {
                                page = 1,
                                key = Model.Key,
                                area = area.AreaId,
                                city = 0,
                                clc = Model.Clc
                            }, new { areaid = area.AreaId })
                    </span>
                    }
                    else
                    {
                    <span>
                        @Html.ActionLink(area.AreaName, Model.Action, new
                            {
                                page = 1,
                                key = Model.Key,
                                area = area.AreaId,
                                city = 0,
                                clc = Model.Clc
                            }, new { areaid = area.AreaId })
                    </span>
                    }
                }
            </div>
            <div class="clear"></div>
        </div>
        <div class="s_p_condition_common_wks">
            <div class="left_condition_tit">城市：</div>
            <div class="left_condition_cons" id="citylist">
                @foreach (var area in Model.Areas)
                {

                    if (area.Cities.Select(r => r.CityId).Contains(Model.CityId) || area.AreaId == Model.AreaId)
                    {
                    <div style="display: block;">
                        @if (Model.CityId == 0)
                        {
                            <span class="current_conditions">
                                @Html.ActionLink("全部", Model.Action, new
                                {
                                    page = 1,
                                    key = Model.Key,
                                    area = area.AreaId,
                                    city = 0,
                                    clc = Model.Clc
                                })
                            </span>
                        }
                        else
                        {
                            <span>
                                @Html.ActionLink("全部", Model.Action, new
                                {
                                    page = 1,
                                    key = Model.Key,
                                    area = area.AreaId,
                                    city = 0,
                                    clc = Model.Clc
                                })
                            </span>
                        }
                        @foreach (var city in area.Cities)
                        {
                            if (city.CityId == @Model.CityId)
                            {
                            <span class="current_conditions">
                                @Html.ActionLink(city.CityName, Model.Action, new
                                {
                                    page = 1,
                                    key = Model.Key,
                                    area = area.AreaId,
                                    city = 0,
                                    clc = Model.Clc
                                }, new { cityid = city.CityId })
                            </span>
                            }
                            else
                            {
                            <span>
                                @Html.ActionLink(city.CityName, Model.Action, new
                                {
                                    page = 1,
                                    key = Model.Key,
                                    area = area.AreaId,
                                    city = city.CityId,
                                    clc = Model.Clc
                                }, new { cityid = city.CityId })
                            </span>
                            }
                        }
                    </div> 
                    }
                    else
                    {
                    <div style="display: none;">
                        <span class="current_conditions">
                            @Html.ActionLink("全部", Model.Action, new
                            {
                                page = 1,
                                key = Model.Key,
                                area = area.AreaId,
                                city = 0,
                                clc = Model.Clc
                            })
                        </span>
                        <input type="hidden" value="0" />
                        @foreach (var city in area.Cities)
                        {                    
                            <span>
                                @Html.ActionLink(city.CityName, Model.Action, new
                                {
                                    page = 1,
                                    key = Model.Key,
                                    area = area.AreaId,
                                    city = 0,
                                    clc = Model.Clc
                                }, new { cityid = city.CityId })
                            </span>
                        }
                    </div> 
                    }
                }
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="interval_20"></div>
    
    <div style="display: none">
        @Html.Hidden("page", "1")
        @Html.Hidden("area", "0")
        @Html.Hidden("city", "0")
        @Html.Hidden("clc", Model.Clc)
    </div>  
}
